##### IDE Files #####

## Visual Studio / Rider / MonoDevelop / Xamarin Studio ##
.idea/
*.iml
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
/wwwroot/dist/
*.DotSettings.user

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

## Test Frameworks

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

## Plugins

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.JustCode
*.GhostDoc.xml
*.dotCover

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
#!**/packages/repositories.config
